<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.kingfink.pi-radio</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>exec /usr/bin/env PATH=/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin mpv --no-config --idle=yes --no-video --no-terminal --audio-display=no --ad=aac_fixed --volume=50 --input-ipc-server="$HOME/Library/Caches/pi-radio/mpv.sock"</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>2</integer>
</dict>
</plist>
